<!DOCTYPE html>
<html>
    <head>
        <title> Todo list</title>

        <link rel="stylesheet" href="css/styles.css">
    </head>

    <body>
        <div class="box">
            <h1> Todo list</h1>
        </div>
        <div class="box">
               <!-- ejes is just avariable to send data into it -->
               <!-- <% %> should be requires to run js in ejs -->
                <% ejes.forEach(function(items){  %>
                    <form action="/delete" method="POST" >
                        <div class="item">
                            <input type="checkbox" name="checkbox1" value="<%= items._id %>" onchange="this.form.submit()">
                            <p> <%= items.name %> </p>
                        </div>
                    </form>                    
                <% }); %>

            <form action="/" method="POST">       <!-- Post is used to pass information form web browser to server-->
                <input type="text" name="ele1" placeholder="Enter the task">
                <button type="submit">+</button>
            </form>
        </div>
    </body>
</html>
